MONGODB_URI=mongodb+srv://<account>:<password>@cluster0.nnvdxxy.mongodb.net/Restaurant?retryWrites=true&w=majority
FACEBOOK_APP_ID=SKIP
FACEBOOK_APP_SECRET=SKIP
FACEBOOK_CALLBACK="http://localhost:3000/auth/facebook/callback"
SESSION_SECRET="ITiTsAsEcREt!"